.hero1{
    width: 50vw;
    padding: 10vh;

}
.app{
    font-size: 60px;
}
.simple{
    font-size: 24px;
}
.btnn{
    
}
.hero{
    display: flex;
}
.hero2{
    margin-left: 10vh;
}




.navebar2{
    padding: 12vh;
}
.rec{
    width: 1280px;
height: 166px;
    background-image: url(./Rectangle\ 2798.png);
    padding: 10 !important;
    display: flex;
}
.let{
    padding: 10vh;
    color: white;
    font-size: 20px;
}
.active-btn{
    height: 50px;
    width: 20vw;
    margin-top: 9vh;
}
.dark-btn2{
    height: 50px;
    width: 15vw;
     margin-top: 9vh;
     margin-left: 20px;
}








/*
.work{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.work{
    height: 90vh;
}
.how{
    margin-left: 15vw;
    width: 50vw;
}
.spn{
    color: green;
}
.pera1{
    width: 50vw;
    margin-left: 15vh;
}
.ride{

    width: 20vw;
}


.ride1{
    width: 20vw;

}


.ride2{
    width: 20vw;
}

.ride3{
    width: 20vw;
}

.circle{

}
.sec2{
    margin-left: 30px !important;
}

.sec5{
    display: flex;
    margin-left: 30vh;
}

.benefits{
    height: 80vh;
}
.benefits1{
    margin-left: 80vh;
}
.bft{
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    background-color: aliceblue;
width: 80vw;
margin-left: 15vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.bft1{
    padding: 10vh;
}



.earning{
 display: flex;
    justify-content: space-evenly;
    height: 40vh;
    background-color: aliceblue;
width: 75vw;
margin-left: 10vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.ear2{
padding: 15vh;
}
.ear1{
    padding: 6vh;
}
.pic2{
    display: flex;
    gap: 1em;
}




.custumer{
    background-image: url(./Group\ 3693.png);
    height: 80vh;
    background-repeat: no-repeat;
    margin-left: 20vw;
    position: relative;
    display: flex;
}
.custumer1{
    width: 80vw;
    background-color: aliceblue;
    height: 40vh;
    margin-left: -100px;
    margin-top: 50px;
    z-index: 1;
    position: absolute;

     bottom: 200px;   
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);


    display: flex;
}
.cus{
width: 40vw;
padding: 10vh;
}
.cus2{
    display: flex;
}
.custum2{
    margin-left: 13vh;
}


.last{
    display: flex;
    justify-content: space-evenly;
}


.final1{
    color: green;
}
.final{
    height: 30vh;
    margin-left: 35vw;
    margin-top: 30vh;
}


 @media (max-width:1500px){
    .rec{
        margin-left: -50px;
    }
  .let{
    margin-top: -75px;
  }
  .dark-btn2{
    margin-top: 60px;
  }
  .sec5{
    margin-left: 16vh;
  }


.work{
    height: 50vh;
}


.benefits1{
    margin-left: 40vw;
}
.bft{
    height: 30vh;
}
.bft1{
    margin-left: -15vw;
}
.bft2{
    margin-top: 70px;
}


.earning{
    height: 30vh;
}
.ear2{
    margin-top: -50px;
} 
.custumer1{
    height: 30vh;
    bottom: 550px;
}
}





 @media (max-width:1350px){
    .rec{
        width: 85vw;
    }
    .benefits{
        height: 60vh;
    }
    .app{
        font-size: 50px;
    }
    .simple{
        font-size: 20px;
    }
 }



 
 @media (max-width:1275px){
    .hero1{
        padding: 5vh;
    }
    .hero2{
        margin-left: 5vh;
    }
    .custum2{
        margin-top: 5vh;
        margin-left: 30px;
    }
 }