.hero1{
    width: 50vw;
    padding: 10vh;

}
.app{
    font-size: 60px;
}
.simple{
    font-size: 24px;
}
.btnn{
    
}
.hero{
    display: flex;
}
.hero2{
    margin-left: 10vh;
}




.navebar2{
    padding: 12vh;
}
.rec{
    width: 1280px;
height: 166px;
    background-image: url(./Rectangle\ 2798.png);
    padding: 10 !important;
    display: flex;
}
.let{
    padding: 10vh;
    color: white;
    font-size: 20px;
}
.active-btn{
    height: 50px;
    width: 20vw;
    margin-top: 9vh;
}
.dark-btn2{
    height: 50px;
    width: 15vw;
     margin-top: 9vh;
     margin-left: 20px;
}








/*
.work{
    display: flex;
    justify-content: center;
    align-items: center;
}*/
.work{
    height: 90vh;
}
.how{
    margin-left: 15vw;
    width: 50vw;
}
.spn{
    color: green;
}
.pera1{
    width: 50vw;
    margin-left: 15vh;
}
.ride{

    width: 20vw;
}


.ride1{
    width: 20vw;

}


.ride2{
    width: 20vw;
}

.ride3{
    width: 20vw;
}

.circle{

}
.sec2{
    margin-left: 30px !important;
}

.sec5{
    display: flex;
    margin-left: 30vh;
}

.benefits{
    height: 80vh;
}
.benefits1{
    margin-left: 80vh;
}
.bft{
    display: flex;
    justify-content: space-evenly;
    height: 40vh;
    background-color: aliceblue;
width: 80vw;
margin-left: 15vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.bft1{
    padding: 10vh;
}



.earning{
 display: flex;
    justify-content: space-evenly;
    height: 40vh;
    background-color: aliceblue;
width: 75vw;
margin-left: 10vh;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.ear2{
padding: 15vh;
}
.ear1{
    padding: 6vh;
}
.pic2{
    display: flex;
    gap: 1em;
}




.custumer{
    background-image: url(./Group\ 3693.png);
    height: 80vh;
    background-repeat: no-repeat;
    margin-left: 20vw;
    position: relative;
    display: flex;
}
.custumer1{
    width: 80vw;
    background-color: aliceblue;
    height: 40vh;
    margin-left: -100px;
    margin-top: 50px;
    z-index: 1;
    position: absolute;

     bottom: 200px;   
    left: 50%;
    transform: translateX(-50%);
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);


    display: flex;
}
.cus{
width: 40vw;
padding: 10vh;
}
.cus2{
    display: flex;
}
.custum2{
    margin-left: 13vh;
}


.last{
    display: flex;
    justify-content: space-evenly;
}


.final1{
    color: green;
}
.final{
    height: 30vh;
    margin-left: 35vw;
    margin-top: 30vh;
}


 @media (max-width:1500px){
    .rec{
        margin-left: -50px;
    }
  .let{
    margin-top: -75px;
  }
  .dark-btn2{
    margin-top: 60px;
  }
  .sec5{
    margin-left: 16vh;
  }


.work{
    height: 50vh;
}


.benefits1{
    margin-left: 40vw;
}
.bft{
    height: 30vh;
}
.bft1{
    margin-left: -15vw;
}
.bft2{
    margin-top: 70px;
}


.earning{
    height: 30vh;
}
.ear2{
    margin-top: -50px;
} 
.custumer1{
    height: 30vh;
    bottom: 550px;
}
}





 @media (max-width:1350px){
    .rec{
        width: 85vw;
    }
    .benefits{
        height: 60vh;
    }
    .app{
        font-size: 50px;
    }
    .simple{
        font-size: 20px;
    }
 }




 
 @media (max-width:1285px){
    .hero1{
        padding: 5vh;
    }
    .hero2{
        margin-left: 5vh;
    }
    .custum2{
        margin-top: 5vh;
        margin-left: 30px;
    }
    .custumer1{
        height: 50vh;
    }
    .rec{
        width: 90vw;
        margin-left: -100px;
    }
    
    .let{
        margin-left: -50px;
        margin-top: -10px;
    }
    .work{
        margin-left: -50px;
        height: 90vh;
    }
    .earning{
        width: 80vw;
        height: 50vh;
    }
    .earningg{
        height: 100vh;
    }
    .ear2{
        margin-left: -30px;
    }
    .benefits{
        margin-left: -50px;
    }
    .bft{
        height: 50vh !important;
    }
    .bft2{
        margin-top: 30px;
    }
    .navebar2{
        margin-left: 60px;
    }
  }


   @media (max-width:1100px){
    .bft1{
        margin-left: -35px;
    }
    .bft2{
        margin-left: 50px;
    }
    .benefitss{
        height: 120vh;
    }

    .earningg{
        height: 150vh;
    }
   .ear2{
    margin-left: -30px;
   }
   .custumer1{
    height: 70vh;
   }
   .earning{
    height: 60vh;
   }
   .navebar2{
    margin-left: 80px;
    margin-top: 10vh;
   }
   .let{
    margin-top: 3vh;
    padding: 50px;
   }

   }



   @media (max-width:1000px){
    .app{
        font-size: 35px;
    }
    .simple{
        font-size: 15px;
    }
    .btnn{
        display: flex;
    }
    .hero1{
        width: 50vw;
    }
    .earning{
        width: 80vw;
        margin-left: 25vw;
    }
    .ear2{
        margin-left: -15vw;
    }
    .custumer{
        width: 110vw;
    }
    .cus2{
        margin-left: -7vw;

    }
    .cus{
        width: 50vw !important;
    }
    .benefits{
        margin-left: 2vw;
    }
    .benefitss{
        height: 120vh;
    }
    .custum2{
        margin-left: -5vw;
    }
    
   }





@media (max-width: 850px){


.hero{
  flex-direction: column;
  align-items: center;
}

.hero1{
  width: 90vw;
  padding: 4vh;
  text-align: center;
}

.hero2 img{
  width: 75vw;
}

.btnn{
  justify-content: center;
  gap: 12px;
  flex-wrap: wrap;
}


.rec{
  width: 95vw;
  height: auto;
  flex-direction: column;
  align-items: center;
}

.let{
  padding: 3vh;
  text-align: center;
}

.active-btn,
.dark-btn2{
  width: 70vw;
  margin: 8px 0;
}


.sec5{
  flex-direction: column;
  align-items: center;
  margin-left: 0;
}

.ride,
.ride1,
.ride2,
.ride3{
  width: 85vw;
  text-align: center;
}

.circle img{
  width: 140px;
}
.earningg{
    height: 150vh;
}

.earning{
    width: 90vw;
    flex-direction: column-reverse;
    height: 80vh !important;
    margin-left: 15vw;
}
.ear1{
    margin-left: 150px;
}
.ear2{
    margin-left: 40px;
}
.custumer1{
    width: 90vw;
    flex-direction: column;
    height: 80vh;
    z-index: 2;
    margin-top: 45vh !important;
    position: relative;
    margin-left: -10vh;
}
.custumer{
    height: 100vh;
position: absolute;
}
.cus{
    margin-left: 100px;
}
.custum2{
    margin-left: 150px;
}

.benefits{
  height: auto;              
  margin-left: 0;
  text-align: center;
  margin-bottom: 10vh;       
}
.benefitss{
    height: 130vh;
}
.benefits1{
  margin-left: 0;
  text-align: center;
  height: 25vh;
  margin-top: 35vh;
}

.bft{
  display: flex;            
  flex-direction: column;
  width: 90vw;
  height: 80vh;
  margin: auto;
  margin-left: 13vw;
}

.bft1{
  padding: 4vh;
  text-align: center;
}


.work{
    height: 70vh;
}
.last{
    margin-top: 100vh !important;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}
.lastt{
    height: 10vh;
}
}

@media (max-width: 800px){
.pera3{
    width: 30vw;
}
.custum2{
    margin-top: -25px;
     margin-left: 13vw;
}

    .ear2{
        margin-left: -10vw;
    }
    .ear1{
        margin-left: 7vw;
    }
    .cus{
        margin-left: 8vw;
    }
 
}

@media (max-width: 650px){
    .bft{
        margin-top: 20vh;
    }
    .benefitss{
        height: 150vh;
    }
    .earningg{
        height: 150vh;
    }
    .custumer1{
        height: 80vh;
    }
    .last{
        flex-direction: column;
        gap: 2em;
        align-items: center;
    }
    .lastt{
        height: 70vh;
    }
}

@media (max-width: 550px){
.ear1{
    margin-top: -90px;
}
.custumer1{
    margin-left: -55px;
}
.pera1{
    margin-left: 20px;
}
.benefits1{
    margin-top: 50vh;
    height: 5vh;
}
.bft{
    height: 70vh !important;
}
.last{
    flex-direction: column;
    gap: 3em;
    align-items: center;
}
.lastt{
    height: 50vh;
}
}


@media (max-width: 450px){
    .benefits1{
        margin-top: 70vh;
    }
    .custum2{
        margin-left: 5vw;
        margin-top: -80px;
    }
}

@media (max-width: 375px){
    .benefits1{
    margin-top: 100vh;
    height: 5vh;
}
.bft{
height: 80vh !important;
}

.custumer1{
    height: 90vh !important;
    margin-top: 80vh !important;
}
.custumer{
    height: 130vh !important;
}
}

